<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Tasks - User Task Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!--For datetime input-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

</head>
<body class="bg-gray-100">
<nav class="bg-black text-white py-4 px-16 font-bold">User Task Manager
    <button class="text-sm bg-gray-800 text-white py-1 px-3 rounded hover:bg-gray-700">Login</button>
</nav>
<div class="flex h-screen">
    <!-- SideBar -->
    <div class="w-60 bg-gray-700 text-gray-200 flex flex-col py-4 px-2 space-y-1">
        <a href="/task/add" class="block py-2 px-3 rounded hover:bg-gray-600">Add Task</a>
        <a href="/task/add/batch" class="block py-2 px-3 rounded hover:bg-gray-600">Add Tasks (Batch)</a>
        <a href="/task/list" class="block py-2 px-3 rounded hover:bg-gray-600">View Tasks</a>
        <a href="/task/details" class="block py-2 px-3 rounded hover:bg-gray-600">Task Details</a>
        <a href="/admin" class="block py-2 px-3 rounded hover:bg-gray-600">Admin Page</a>
    </div>
    <!-- Main Page -->
    <div class="flex-1 flex flex-col">
        <!-- Main Content -->
        <div class="mx-auto py-12 pl-10 pr-24">
            <h2 class="text-3xl font-bold mb-8">View Tasks</h2>
            <div class="flex items-center justify-between mb-2">
                <button id="filtersBtn" class="text-sm px-2 py-1 border rounded bg-gray-100 hover:bg-gray-200 mr-2">
                    Filters ▼
                </button>
                <button onclick="searchTasks()" class="text-xs px-2 py-0.5 bg-black text-white rounded shadow">
                    Search
                </button>
            </div>
            <table class="w-full bg-white rounded shadow table-fixed">
                <thead>
                <tr class="text-xs bg-gray-200">
                    <th class="py-2 px-1 w-[4%]">TaskId</th>
                    <th class="py-2 px-1 w-[4%]">JobId</th>
                    <th class="py-2 px-1 w-[6%]">ShortCmd</th>
                    <th class="py-2 px-1 w-[4%] relative">
                        <button id="cpuToggle" class="px-1 py-1 bg-gray-300 rounded">CPU</button>
                        <div id="cpuDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10"></div>
                    </th>
                    <th class="py-2 px-1 w-[5%] relative">
                        <button id="memToggle" class="px-1 py-1 bg-gray-300 rounded">MEM(Mb)</button>
                        <div id="memDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10"></div>
                    </th>
                    <th class="py-2 px-1">Command</th>
                    <th class="py-2 px-1 w-[6%] relative">
                        <button id="usernameToggle" class="px-1 py-1 bg-gray-300 rounded">Username</button>
                        <div id="usernameDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10"></div>
                    </th>
                    <th class="py-2 px-1 w-[6%] relative">
                        <button id="partitionToggle" class="px-1 py-1 bg-gray-300 rounded">Partition</button>
                        <div id="partitionDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10"></div>
                    </th>
                    <th class="py-2 px-1 w-[6%] relative">
                        <button id="licenseTypeToggle" class="px-1 py-1 bg-gray-300 rounded">License Type</button>
                        <div id="licenseTypeDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10"></div>
                    </th>
                    <th class="py-2 px-1 w-[6%]">Directory</th>
                    <th class="py-2 px-1 w-[6%]">Timelimit</th>
                    <th class="py-2 px-1 w-[6%] relative">
                        <button id="statusToggle" class="px-1 py-1 bg-gray-300 rounded">Status</button>
                        <div id="statusDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10"></div>
                    </th>
                    <th class="py-2 px-1 w-[5.5%] text-[10.5px] relative">
                        <button id="submittedAtToggle" class="px-1 py-1 bg-gray-300 rounded">Submitted At</button>
                        <div id="submittedAtDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10">
                            <div class="mb-1">
                                <label>From:</label>
                                <input type="text" id="submittedFrom" class="border rounded px-1 py-0.5">
                            </div>
                            <div class="mb-1">
                                <label>To:</label>
                                <input type="text" id="submittedTo" class="border rounded px-1 py-0.5">
                            </div>
                        </div>
                    </th>
                    <th class="py-2 px-1 w-[5%] relative">
                        <button id="startedAtToggle" class="px-1 py-1 bg-gray-300 rounded">Started At</button>
                        <div id="startedAtDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10">
                            <div class="mb-1">
                                <label>From:</label>
                                <input type="text" id="startedFrom" class="border rounded px-1 py-0.5">
                            </div>
                            <div class="mb-1">
                                <label>To:</label>
                                <input type="text" id="startedTo" class="border rounded px-1 py-0.5">
                            </div>
                        </div>
                    </th>
                    <th class="py-2 px-1 w-[5%] relative">
                        <button id="endedAtToggle" class="px-1 py-1 bg-gray-300 rounded">Ended At</button>
                        <div id="endedAtDropdown" class="hidden absolute bg-white border rounded shadow mt-1 z-10">
                            <div class="mb-1">
                                <label>From:</label>
                                <input type="text" id="endedFrom" class="border rounded px-1 py-0.5">
                            </div>
                            <div class="mb-1">
                                <label>To:</label>
                                <input type="text" id="endedTo" class="border rounded px-1 py-0.5">
                            </div>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody id="taskRows" class="text-xs text-center">
                <!-- Task rows will be inserted here dynamically by JS -->
                </tbody>
            </table>

            <div class="mt-8 flex justify-end space-x-4">
                <button onclick="history.back()" class="px-6 py-2 border rounded">Back</button>
            </div>
        </div>
    </div>
    <!-- Login Modal -->
    <div id="loginModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center">
        <div class="bg-white rounded shadow p-6">
            <h2 class="text-lg font-semibold mb-4">Login</h2>
            <input type="text" id="username" placeholder="Username" class="border rounded px-3 py-2 mb-3 w-full"/>
            <input type="password" id="password" placeholder="Password" class="border rounded px-3 py-2 mb-3 w-full"/>
            <button onclick="login()" class="bg-black text-white rounded px-4 py-2">Login</button>
            <button onclick="closeLoginModal()" class="ml-2 border px-3 py-2 rounded">Cancel</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let isLoggedIn = /*[[${isLoggedIn}]]*/ false;

    function openLoginModal() {
        $('#loginModal').removeClass('hidden');
        $('#loginModal').addClass('flex');
    }
    function closeLoginModal() {
        $('#loginModal').removeClass('flex');
        $('#loginModal').addClass('hidden');
    }

    if (!isLoggedIn) {
        openLoginModal();
    }

    $(document).ajaxError(function(event, xhr) {
        if(xhr.status === 401) {
            openLoginModal();
        }
    });

    ['submittedFrom', 'submittedTo', 'startedFrom', 'startedTo', 'endedFrom', 'endedTo']
        .forEach(id => {
            $(`#${id}`).datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:mm:ss'
            });
        });

    let filters = {
        statuses: [],
        usernames: [],
        partitions: [],
        licenseTypes: [],
        cpuRange: [],
        memRange: [],
        submittedFrom: null,
        submittedTo: null,
        startedFrom: null,
        startedTo: null,
        endedFrom: null,
        endedTo: null,
    };

    let filtersAreOpen = false;

    const usernameList = new Set();
    const partitionList = new Set();
    const licenseTypeList = new Set();
    const cpuList = new Set(['0','1','2','3','4','5','6','7','8+']);
    const memList = new Set(['0~100Mb','100~500Mb','500~1Gb','1Gb~100Gb','100Gb+']);
    const statusList = new Set();

    function updateFilter(field, value, checked) {
        if (!filters[field]) filters[field] = [];
        if (checked) {
            filters[field].push(value);
        } else {
            filters[field] = filters[field].filter(item => item !== value);
            if (filters[field].length === 0) {
                delete filters[field];
            }
        }
    }

    async function fetchTasks() {
        filters = {};
        const query = `
            query GetAllUserTasks {
                getAllUserTasks {
                    userTaskId
                    jobId
                    shortCmd
                    userId
                    username
                    submittedAt
                    startedAt
                    endedAt
                    status
                    userTaskDetail {
                        userTaskId
                        command
                        partition
                        licenseType
                        licenseCount
                        directory
                        uuid
                        timelimit
                        requestedCpu
                        requestedMem
                    }
                }
            }
        `;

        const res = await fetch('/graphql', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({query})
        });

        const { data } = await res.json();
        const tasks = data.getAllUserTasks;

        const rows = tasks.map(task =>  {
            licenseTypeList.add(task.userTaskDetail.licenseType);
            partitionList.add(task.userTaskDetail.partition);
            usernameList.add(task.username);
            statusList.add(task.status);

            const formattedSubmittedAt = task.submittedAt ? task.submittedAt.replace(/\.\d+$/, '') : '-';
            const formattedStartedAt = task.startedAt ? task.startedAt.replace(/\.\d+$/, '') : '-';
            const formattedEndedAt = task.endedAt ? task.endedAt.replace(/\.\d+$/, '') : '-';
            return `
        <tr>
            <td class="px-1 py-2">${task.userTaskId}</td>
            <td class="px-1 py-2">${task.jobId || '-'}</td>
            <td class="px-1 py-2">${task.shortCmd || '-'}</td>
            <td class="px-1 py-2">${task.userTaskDetail.requestedCpu}</td>
            <td class="px-1 py-2">${task.userTaskDetail.requestedMem}</td>
            <td class="px-1 py-2 break-words whitespace-pre-wrap">${task.userTaskDetail.command}</td>
            <td class="px-1 py-2">${task.username}</td>
            <td class="px-1 py-2">${task.userTaskDetail.partition}</td>
            <td class="px-1 py-2">${task.userTaskDetail.licenseType}</td>
            <td class="px-1 py-2">${task.userTaskDetail.directory}</td>
            <td class="px-1 py-2">${task.userTaskDetail.timelimit}</td>
            <td class="px-1 py-2 font-semibold ${statusColor(task.status)}">${task.status}</td>
            <td class="px-1 py-2">${formattedSubmittedAt}</td>
            <td class="px-1 py-2">${formattedStartedAt}</td>
            <td class="px-1 py-2">${formattedEndedAt}</td>
        </tr>`;
        });

        document.getElementById('taskRows').innerHTML = rows.join('');
    }

    function statusColor(status) {
        switch(status) {
            case 'pending': return 'text-gray-500';
            case 'running': return 'text-blue-500';
            case 'completed': return 'text-green-600';
            case 'failed': return 'text-red-500';
            default: return 'text-black';
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        fetchTasks().then(() => {
            populateDropdown('cpu', cpuList, 'cpu-checkbox', 'cpuRange');
            populateDropdown('mem', memList, 'mem-checkbox', 'memRange');
            populateDropdown('username', usernameList, 'username-checkbox', 'usernames');
            populateDropdown('partition', partitionList, 'partition-checkbox', 'partitions');
            populateDropdown('licenseType', licenseTypeList, 'licenseType-checkbox', 'licenseTypes');
            populateDropdown('status', statusList, 'status-checkbox', 'statuses');
        });

        setupDropdownEvents('submittedAt');
        setupDropdownEvents('startedAt');
        setupDropdownEvents('endedAt');
    });


    function populateDropdown(dropdownId, listSet, checkboxClass, filterField) {
        const dropdown = document.getElementById(`${dropdownId}Dropdown`);
        dropdown.innerHTML = '';

        listSet.forEach(itemValue => {
            const item = document.createElement('label');
            item.classList.add('flex', 'items-center', 'px-2', 'py-1');
            item.classList.add('checkbox-label');
            item.innerHTML = `
            <input type="checkbox" class="mr-1 ${checkboxClass}" value="${item}" onclick="updateFilter('${filterField}', '${itemValue}', this.checked)"/>
            <span class="text-xs" style="pointer-events: none;">${itemValue}</span>`;
            dropdown.appendChild(item);
        });

        setupDropdownEvents(dropdownId);
    }
    function setupDropdownEvents(dropdownId) {
        const dropdown = document.getElementById(`${dropdownId}Dropdown`);
        const toggleBtn = document.getElementById(`${dropdownId}Toggle`);

        document.addEventListener('click', (e) => {
            if (!dropdown.contains(e.target) && e.target !== toggleBtn) {
                dropdown.classList.add('hidden');
            }
        });

        toggleBtn.addEventListener('click', (e) => {
            e.stopPropagation();
            dropdown.classList.toggle('hidden');
        });

        dropdown.querySelectorAll('.checkbox-label').forEach(el => {
            el.addEventListener('click', (e) => e.stopPropagation());
        });
    }

    function getDateTimeValue(id) {
        const val = document.getElementById(id).value;
        return val && val !== '' ? val.replace('T', ' ') + ':00' : null;
    }

    async function searchTasks() {
        const dateFields = [ // [elementId, filterKey]
            ['submittedFrom', 'submittedFrom'],
            ['submittedTo', 'submittedTo'],
            ['startedFrom', 'startedFrom'],
            ['startedTo', 'startedTo'],
            ['endedFrom', 'endedFrom'],
            ['endedTo', 'endedTo']
        ];
        dateFields.forEach(([elementId, filterKey]) => {
            const dateValue = getDateTimeValue(elementId);
            if (dateValue) filters[filterKey] = dateValue;
            else delete filters[filterKey];
        });

        const query = `
        query FilterTasks($filters: TaskFilterInput) {
            getFilteredUserTasks(filters: $filters) {
                userTaskId
                jobId
                shortCmd
                userId
                username
                submittedAt
                startedAt
                endedAt
                status
                userTaskDetail {
                    command
                    partition
                    licenseType
                    licenseCount
                    directory
                    uuid
                    timelimit
                    requestedCpu
                    requestedMem
                }
            }
        }
    `;

        const res = await fetch('/graphql', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ query, variables: { filters } })
        });

        const {data} = await res.json();
        const tasks = data.getFilteredUserTasks;

        const rows = tasks.map(task => {
            const formattedSubmittedAt = task.submittedAt ? task.submittedAt.replace(/\.\d+$/, '') : '-';
            const formattedStartedAt = task.startedAt ? task.startedAt.replace(/\.\d+$/, '') : '-';
            const formattedEndedAt = task.endedAt ? task.endedAt.replace(/\.\d+$/, '') : '-';

            return `
        <tr>
            <td class="px-1 py-2">${task.userTaskId}</td>
            <td class="px-1 py-2">${task.jobId || '-'}</td>
            <td class="px-1 py-2">${task.shortCmd || '-'}</td>
            <td class="px-1 py-2">${task.userTaskDetail.requestedCpu}</td>
            <td class="px-1 py-2">${task.userTaskDetail.requestedMem}</td>
            <td class="px-1 py-2 break-words whitespace-pre-wrap">${task.userTaskDetail.command}</td>
            <td class="px-1 py-2">${task.username}</td>
            <td class="px-1 py-2">${task.userTaskDetail.partition}</td>
            <td class="px-1 py-2">${task.userTaskDetail.licenseType}</td>
            <td class="px-1 py-2">${task.userTaskDetail.directory}</td>
            <td class="px-1 py-2">${task.userTaskDetail.timelimit}</td>
            <td class="px-1 py-2 font-semibold ${statusColor(task.status)}">${task.status}</td>
            <td class="px-1 py-2">${formattedSubmittedAt}</td>
            <td class="px-1 py-2">${formattedStartedAt}</td>
            <td class="px-1 py-2">${formattedEndedAt}</td>
        </tr>`;
        });

        document.getElementById('taskRows').innerHTML = rows.join('');
    }

    document.getElementById('filtersBtn').addEventListener('click', (e) => {
        e.stopPropagation();

        const toggles = document.querySelectorAll('[id$="Toggle"]');
        toggles.forEach(btn => {
            const dropdownId = btn.getAttribute('id').replace('Toggle', 'Dropdown');
            const dropdown = document.getElementById(dropdownId);

            if (dropdown) {
                if (filtersAreOpen) {
                    dropdown.classList.add('hidden');
                } else {
                    dropdown.classList.remove('hidden');
                }
            }
        });
        filtersAreOpen = !filtersAreOpen;
    });

    function login() {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        fetch('/api/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username, password })
        })
            .then(response => {
                if(response.ok) {
                    location.reload();
                } else {
                    alert('Login Failed. Please try again.');
                }
            });
    }


</script>

</body>
</html>
