<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.usertaskmanager.repository.UserTaskMapper">

    <select id="getAllUserTasks" resultMap="UserTaskResultMap">
        SELECT
            ut.*, u.username, utd.*
        FROM user_task ut
                 JOIN user_task_detail utd ON ut.user_task_id = utd.user_task_id
                 JOIN users u ON ut.user_id = u.user_id
    </select>

    <select id="getFilteredUserTasks" resultMap="UserTaskResultMap" parameterType="com.bos.usertaskmanager.model.TaskFilterInput">
        SELECT
        ut.*, u.username, utd.*
        FROM user_task ut
        JOIN user_task_detail utd ON ut.user_task_id = utd.user_task_id
        JOIN users u ON ut.user_id = u.user_id
        <where>
            <if test="sanitizedCpuRange != null and sanitizedCpuRange.size() > 0">
                utd.requested_cpu IN
                <foreach collection="sanitizedCpuRange" item="cpu" open="(" separator="," close=")">
                    #{cpu}
                </foreach>
            </if>

            <if test="cpuOverValue != null and cpuOverValue > 0">
                AND utd.requested_cpu &gt;= #{cpuOverValue}
            </if>

            <if test="sanitizedMemRange != null and sanitizedMemRange.size() > 0">
                AND (
                <foreach collection="sanitizedMemRange" item="range" separator=" OR ">
                    (
                    <if test="range.minMem != null">
                        utd.requested_mem &gt;= #{range.minMem}
                    </if>
                    <if test="range.minMem != null and range.maxMem != null"> AND </if>
                    <if test="range.maxMem != null">
                        utd.requested_mem &lt; #{range.maxMem}
                    </if>
                    )
                </foreach>
                )
            </if>

            <if test="usernames != null and usernames.size() > 0">
                AND u.username IN
                <foreach collection="usernames" item="username" open="(" separator="," close=")">
                    #{username}
                </foreach>
            </if>

            <if test="partitions != null and partitions.size() > 0">
                AND utd.partition IN
                <foreach collection="partitions" item="partition" open="(" separator="," close=")">
                    #{partition}
                </foreach>
            </if>

            <if test="licenseTypes != null and licenseTypes.size() > 0">
                AND utd.license_type IN
                <foreach collection="licenseTypes" item="licenseType" open="(" separator="," close=")">
                    #{licenseType}
                </foreach>
            </if>

            <if test="statuses != null and statuses.size() > 0">
                ut.status IN
                <foreach collection="statuses" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>

        </where>
    </select>


    <resultMap id="UserTaskResultMap" type="com.bos.usertaskmanager.model.UserTask">
        <result property="userTaskId" column="user_task_id"/>
        <result property="jobId" column="job_id"/>
        <result property="shortCmd" column="short_cmd"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="submittedAt" column="submitted_at"/>
        <result property="startedAt" column="started_at"/>
        <result property="endedAt" column="ended_at"/>
        <result property="status" column="status"/>
        <association property="userTaskDetail" javaType="com.bos.usertaskmanager.model.UserTaskDetail">
            <result property="userTaskId" column="user_task_id"/>
            <result property="command" column="command"/>
            <result property="partition" column="partition"/>
            <result property="licenseType" column="license_type"/>
            <result property="licenseCount" column="license_count"/>
            <result property="directory" column="directory"/>
            <result property="uuid" column="uuid"/>
            <result property="timelimit" column="timelimit"/>
            <result property="requestedCpu" column="requested_cpu"/>
            <result property="requestedMem" column="requested_mem"/>
        </association>
    </resultMap>

</mapper>
