<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.usertaskmanager.repository.UserTaskMapper">

    <select id="getAllUserTasks" resultMap="UserTaskOutResultMap">
        SELECT
            t.*, u.username, ut.*
        FROM user_task ut
                 JOIN task t ON ut.task_id = t.task_id
                 JOIN users u ON t.user_id = u.user_id
    </select>

    <select id="getUserTaskById" resultMap="UserTaskOutResultMap" parameterType="String">
        SELECT
            t.*, u.username, ut.*
        FROM user_task ut
                 JOIN task t ON ut.task_id = t.task_id
                 JOIN users u ON t.user_id = u.user_id
        <where>
            ut.user_task_id = #{userTaskId}
        </where>
    </select>

    <select id="getFilteredUserTasks" resultMap="UserTaskOutResultMap" parameterType="com.bos.usertaskmanager.dto.TaskFilterInput">
        SELECT
        t.*, u.username, ut.*
        FROM user_task ut
        JOIN task t ON ut.task_id = t.task_id
        JOIN users u ON t.user_id = u.user_id
        <where>
            <if test="sanitizedCpuRange != null and sanitizedCpuRange.size() > 0">
                t.requested_cpu IN
                <foreach collection="sanitizedCpuRange" item="cpu" open="(" separator="," close=")">
                    #{cpu}
                </foreach>
            </if>

            <if test="cpuOverValue != null and cpuOverValue > 0">
                OR t.requested_cpu &gt;= #{cpuOverValue}
            </if>

            <if test="sanitizedMemRange != null and sanitizedMemRange.size() > 0">
                AND (
                <foreach collection="sanitizedMemRange" item="range" separator=" OR ">
                    (
                    <if test="range.minMem != null">
                        t.requested_mem &gt;= #{range.minMem}
                    </if>
                    <if test="range.minMem != null and range.maxMem != null"> AND </if>
                    <if test="range.maxMem != null">
                        t.requested_mem &lt; #{range.maxMem}
                    </if>
                    )
                </foreach>
                )
            </if>

            <if test="usernames != null and usernames.size() > 0">
                AND u.username IN
                <foreach collection="usernames" item="username" open="(" separator="," close=")">
                    #{username}
                </foreach>
            </if>

            <if test="partitions != null and partitions.size() > 0">
                AND t.partition IN
                <foreach collection="partitions" item="partition" open="(" separator="," close=")">
                    #{partition}
                </foreach>
            </if>

            <if test="licenseTypes != null and licenseTypes.size() > 0">
                AND t.license_type IN
                <foreach collection="licenseTypes" item="licenseType" open="(" separator="," close=")">
                    #{licenseType}
                </foreach>
            </if>

            <if test="statuses != null and statuses.size() > 0">
                AND t.status IN
                <foreach collection="statuses" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>

            <if test="submittedFrom != null and submittedFrom != ''">
                AND t.submitted_at &gt;= TO_TIMESTAMP(#{submittedFrom}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
            <if test="submittedTo != null and submittedTo != ''">
                AND t.submitted_at &lt;= TO_TIMESTAMP(#{submittedTo}, 'YYYY-MM-DD HH24:MI:SS')
            </if>

            <if test="startedFrom != null and startedFrom != ''">
                AND t.started_at &gt;= TO_TIMESTAMP(#{startedFrom}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
            <if test="startedTo != null and startedTo != ''">
                AND t.started_at &lt;= TO_TIMESTAMP(#{startedTo}, 'YYYY-MM-DD HH24:MI:SS')
            </if>

            <if test="endedFrom != null and endedFrom != ''">
                AND t.ended_at &gt;= TO_TIMESTAMP(#{endedFrom}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
            <if test="endedTo != null and endedTo != ''">
                AND t.ended_at &lt;= TO_TIMESTAMP(#{endedTo}, 'YYYY-MM-DD HH24:MI:SS')
            </if>

        </where>
    </select>

    <resultMap id="UserTaskOutResultMap" type="com.bos.usertaskmanager.dto.UserTaskOutDto">
        <result property="userTaskId" column="user_task_id"/>
        <result property="username" column="username"/>
        <result property="directory" column="directory"/>
        <result property="env" column="env"/>
        <result property="description" column="description"/>
        <result property="exitCode" column="exit_code"/>
        <association property="task" javaType="com.bos.usertaskmanager.dto.TaskOutDto">
            <result property="taskId" column="task_id"/>
            <result property="taskType" column="task_type"/>
            <result property="userId" column="user_id"/>
            <result property="requestedCpu" column="requested_cpu"/>
            <result property="requestedMem" column="requested_mem"/>
            <result property="licenseType" column="license_type"/>
            <result property="licenseCount" column="license_count"/>
            <result property="timelimit" column="timelimit"/>
            <result property="command" column="command"/>
            <result property="partition" column="partition"/>
            <result property="status" column="status"/>
            <result property="priority" column="priority"/>
            <result property="submittedAt" column="submitted_at"/>
            <result property="startedAt" column="started_at"/>
            <result property="endedAt" column="ended_at"/>
        </association>
    </resultMap>

</mapper>
